<nav class="bg-white border-b shadow-sm">
    <div class="container h-16 mx-auto">
        <ul class="flex items-center h-full list-style-none">
            <li><a href="#">Home</a></li>
        </ul>
    </div>
</nav>